@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Rubik:wght@400;500;700&display=swap");


.nav-container >ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }
  .nav-container >ul>li{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
  }